#about {
	position: relative;
	@extend %flex-center;
	margin-bottom: 10em;
	background: url('../images/on-mac.jpg') 50% 50% no-repeat;
	background-size: cover;
	@include deviceBreakpoint(small) {
		background-attachment: fixed;
	}

	.narrow {
		@include span(1 of 2);
		margin-top: -20%;
		padding: 0;
	}
}