#about {
	position: relative;
	@include deviceBreakpoint(small) {
		margin-bottom: 10em;
		background: url('../images/on-mac.jpg') 50% 50% no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}
	
	.narrow {
		@include deviceBreakpoint(small) {
			@include span(3 of 5);
			padding: 3em 0 0 0;
		}
	}
}