#contact {
	h3 {color: $orange;}
	p:first-of-type {
		margin-bottom: 2em;
	}
	label {display: block; margin-top: 1em;line-height: 1;}
	label span.sm {
		color: lighten($dark, 20);
		font-size: .7em;
	}
	button {display: block; margin-top: 1em;}
}



//Contact form styles based on www.toddmotto.com

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea,
#contact-form button[type="submit"] {
	font-family: $sansfont;
}
#contact-form {
	text-shadow:0 1px 0 #FFF;
	border-radius:4px;
	background: lighten($creamy, 7);
	padding:25px;
}
#contact-form label > span {
	cursor:pointer;
	color: lighten($dark, 10);
	display:block;
	margin:5px 0;
	font-weight: $bold;
}
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
	width:100%;
	box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
}
#contact-form input[type="text"]:hover,
#contact-form input[type="email"]:hover,
#contact-form input[type="tel"]:hover,
#contact-form input[type="url"]:hover,
#contact-form textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}
#contact-form textarea {
	height:100px;
	max-width:100%;
}
#contact-form button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background: $orange;
	box-shadow: 0 0 0 0 rgba(255, 255, 255, .5) inset;
	color:#FFF;
	padding:10px;
	border-radius:5px;
	transition: .3s box-shadow;
}
#contact-form button[type="submit"]:hover {
	box-shadow: 0 1.5em 3em -1.5em rgba(255, 255, 255, .5) inset;
}
#contact-form button[type="submit"]:active {
	box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
#contact-form input:focus,
#contact-form textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
    color:#888;
}
:-moz-placeholder {
    color:#888;
}
::-moz-placeholder {
    color:#888;
}
:-ms-input-placeholder {
    color:#888;
}