footer {
	margin-top: 3em;
	padding: 2em 0;
	background: $dark url("../images/swirl.png");
	color: darken($light, 20);
	border-top: 5px solid darken($creamy, 30);
	text-align: center;

	.container {padding-top: 0;}

	ul {
		list-style-type: none;
		margin: 0; padding: 0;
	}
	li {
		display: inline;
		margin-left: 1.5em;

		&:first-child {
			margin-left: 0;
		}

		svg {
			width: 1.8em;
			height: 1.9em;
			fill: currentColor;
			transition: .5s fill;
		}
	}

	a {
		color: inherit;
		transition: .5s color;

		&:hover {
			svg {
				fill: $light;
			}
		}
	}

	p {
		letter-spacing: .05em;
		span {display: none;}
		@include deviceBreakpoint(small) {
			span {display: inline;}
			br {display: none;}
		}
	}
}