body {
	padding: 0;
	background: $creamy url("../images/p4.png");
}

p.wrap {
	text-align: center;
	@include deviceBreakpoint(small) {
		text-align: left;
	}
}

@media (min-width: 92em) {
  body {
    font-size: 1.2em;
  }
}