#projects {
	article {
		@extend %clearfix;
		margin-top: 2em;
	}
	.img {
		@include deviceBreakpoint(small) {
			@include span(1 of 3);
			padding: 0;
		}
		img {
			max-width: 100%;
			border: 3px solid #fff;
			border-radius: 3px;
			box-shadow: 1px 2px 1px rgba(0,0,0,0.3);
		}
	}
	.text {
		@include deviceBreakpoint(small) {
			@include span(2 of 3);
		}
	}
	h3 {
		color: $blue;
		font-size: 1.3em;
		font-weight: $bold;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
		@include deviceBreakpoint(small) {
			margin-top: 0;
		}
	}
	p.wrap {
		color: lighten($dark, 20);
		font-family: $sansfont;
	}
	.mainBtn {
		border-color: $light;
	}
}