@import url(http://fonts.googleapis.com/css?family=Roboto:300,700%7CDroid+Serif:400,700,400italic,700italic);

$susy: (
  columns: 16,
  container: 60em,
  gutters: (1/4),
  gutter-position: inside
);

$narrow: 400px;
$small: 650px;
$medium: 960px;
$wide: 1200px;


//Add Color Palette
$orange		   : #E28A10;
$blue		   : #657486;
$creamy		   : #E5DFCF;
$light         : #FFF;
$dark          : #424242;

$backgroundColor    : $light;
$typeDefault        : $dark;
$navForeground      : $light;


//Font variables
$sansfont       : 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
$seriffont       : "Droid Serif", "Georgia", "Times New Roman", "Palatino", serif;;

$lweight  : 300;
$normal	  : 400;
$bold     : 700;

$headFont   : $lweight 2em/1.2em $sansfont;
$mainFont   : $normal 1em/1.8em $seriffont;
$headColor  : $orange;

//Layout
$mobilePadding : 5%;
